body {
    background-color: slategray;
}

/*Container*/

body .container{
    padding-top: 70px;
    padding-bottom: 55px;
}

body .container .row{
    margin-bottom: 5px;

}
.thumbnail .description {
    color: darkgray;
}

.price{
    font-weight: bold;
    font-size: 12px;
}

.pay-button{
    display: inline-block;
    padding: 6px 12px;
    margin-top: 10px;
    margin-right: 15px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    float: right;
}

.checkout{
    background-color: lightsalmon;
    color: black;
    float: right;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}





/*Header*/

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: visible;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9001;

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.custombutton{
    padding: 11px;
    display: inline-block;
    color: #777;
    font-size: 12px;
    margin-left: 80px;

}

.custombutton .dropbtn{
    border: 5px solid;
    border-color: lightgray;
    background-color: #f8f8f8;
}



/*Header Bootstrap Custom */

body .navbar{
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    position: fixed;
    width: 100%;
    z-index: 9001;
}



/*Footer*/
.customfooter {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: lightgray;
}

.content-footer{
    padding: 10px 15px;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    font-size: 10px;
    text-align: center;
    text-emphasis-color: #110000;
}